.preview {
  width: 50%;

  display: flex;
  flex-direction: column;
}

.preview__content {
  font-size: 1.6rem;
  background-color: var(--editor-background);
  color: var(--text-color);
  padding: 1rem 2rem;
  flex-grow: 1;
  overflow-y: scroll;

  border-radius: 5px;
  border: none;
}

h1 {
  font-size: 2em;
}

p img {
  max-width: 100%;
}

li {
  list-style-position: inside;
}

li p {
  display: inline;
}

a,
a:visited {
  color: var(--anchor-color);
}

a:hover {
  color: var(--anchor-color-hover);
}

code {
  color: var(--code-color);
  border-radius: 5px;
  background-color: var(--code-background-color);
  padding: 0 5px;
}

pre {
  background-color: var(--pre-background-color);
  padding: 0.5rem 1rem;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  white-space: pre-wrap;
  word-break: break-all;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

pre code {
  padding: 0;
}

hr {
  color: var(--horizontal-rule-color);
}
