p,
ul,
ol {
  line-height: 2.4rem;
}

.wrapper {
  width: 95%;
  height: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.settings {
  display: flex;
  gap: 1rem;
}
