* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body,
html,
#root,
main {
  height: 100%;
}

body {
  margin: 0;

  font-family: "Roboto";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  color: var(--text-color);
  background-color: var(--main-background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
